body {
      background-color: #f7f9fc;
      padding-top: 80px;
      text-align: center;
      font-family: "Segoe UI", sans-serif;
    }

    h2 {
      font-weight: 700;
      color: #0d6efd;
      margin-top: 10px;
    }

    h4 {
      color: #333;
      margin-top: 40px;
    }

    .navbar {
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    }

    .nav-link {
      font-weight: 500;
      transition: color 0.3s;
    }

    .btn-danger {
      border-radius: 50px;
      padding: 6px 20px;
    }

    .complete_profile {
      text-align: center;
      justify-content: center;
      background-color: #fff;
      border-radius: 8px;
      margin: 120px 500px 100px 500px;
      padding: 30px 20px 30px 20px;
      box-shadow: 1px 1px 5px 1px;
    }

    .box {
      padding: 5px 5px;
      margin-left: 20px;
      margin-right: 20px;
    }

     .button {
    width: 100%;
    cursor: pointer;
    margin-top: 5px; 
    font-weight: bold;  
     }

     .request-form {
      max-width: 500px;
      margin: 30px auto;
      padding: 30px;
      background: white;
      border-radius: 20px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    }


    .user_profile {
      background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 40px 30px;
  margin: 100px auto;
  max-width: 600px;
  text-align: left;
  transition: all 0.3s ease-in-out;
    }

    
     